/*тело сайта*/
*  {
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding-top: 55px; /* 40px (высота хедера) + 15px отступ */
    font-weight: 600;
    display: flex;
    color: white;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 255, 255); /* Тёмно-серый градиент */
    background: linear-gradient(to right, #f8d0d6, #f7a7b3);

    overflow-x: hidden;
    height: 100%;
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*навигация*/
.header {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 55px;
    font-weight: bolder;
    opacity: 0;
    animation: slideDown 0.7s ease-out forwards;
}

main {
    flex: 1;
}

.nav a {
    color: whitesmoke;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s ease;
    padding: 5px 10px; /* Добавляем немного отступов */
    font-weight: bold;
    border-radius: 5px; /* Закругляем углы */
    background: rgba(255, 255, 255, 0.1); /* Лёгкий фон */
    background-size: auto;
}

.nav a:hover {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #3A4BAA, 0 0 20px #3A4BAA, 0 0 30px #3A4BAA;
    background: rgba(255, 255, 255, 0.2); /* Усиливаем фон при наведении */
    border-color: rgba(255, 255, 255, 0.8); /* Делаем границу ярче */
    
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    color: #3A4BAA;
}

.logo-container {
    display: flex;
    align-items: center; /* Центрируем по вертикали */
}

.logo {
    height: 80px; /* Высота изображения */
}

.hero {
    text-align: center;
    color: #bbb;
    margin: 0; 
    padding: 0;

    background-size: 200% 200%;
    background-position: center;
    transition: background-position 0.3s ease, background-size 0.3s ease;

}

.border-nav {
    text-align: center;
    background-image: url('ludi.jpg');
    padding: 80px 20px 100px;
    height: 400px;
    box-shadow: 0px 0px 50px black;
    background-color: #1B1D2A;
}
/*главный экран*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 77.4%;
    background-color: #4c4c4c;
    z-index: 1;
}

.hero h1 {
    color: #ffffff;
    position: relative;
    margin: 0 0 20px;
    font-size: 2.5em;
    z-index: 3;
}

.hero h2 {
    font-family: 'Playfair Display', serif; /* Элегантный шрифт */
    font-size: 20px; /* Размер текста */
    font-weight: 700; /* Жирный стиль шрифта */
    color: #2c3e50; /* Тёмный цвет текста */
    text-align: center; /* Выравнивание по центру */
    padding: 20px 40px; /* Отступы */
    background-color: #ecf0f1; /* Светлый фон */
    border-radius: 20px; /* Скругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для объема */
    letter-spacing: 2px; /* Межбуквенный интервал */
    text-transform: uppercase; /* Все буквы в верхнем регистре */
    border: 2px solid #bdc3c7; /* Легкая граница */
    width: 300px;
    position: relative;
    left: 570px;
}

.hero button {
    color: #bbb;
    position: relative;
}
/*поиск*/
.search-hero-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 10px 10px 10px 10px; /* Обрезка справа */
    overflow: hidden;
    max-height: 100%;
    max-width: 100%; /* Немного уменьшить ширину */
    margin: 0; /* Центрируем */
    background-image: URL('photos/clouds.jpg');
    background-size: cover; /* Изображение покрывает весь блок */
        background-position: center; /* Центрирует изображение */
        background-repeat: no-repeat;


}

.wave-vertical {
    display: block;
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 1200" xmlns="http://www.w3.org/2000/svg"><path d="M40,0 C90,150 -20,350 40,600 C100,850 -10,1050 40,1200 L100,1200 C100,800 40,600 40,0 Z" fill="%23f8c6a0"/></svg>') repeat-y;

    animation: wave-animation-vertical 60s linear infinite;
}

.wave-vertical2 {
    display: block;
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    opacity: 0.5;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 1200" xmlns="http://www.w3.org/2000/svg"><path d="M60,0 C10,150 120,350 60,600 C0,850 110,1050 60,1200 L0,1200 C0,800 60,600 60,0 Z" fill="%23f4a988"/></svg>') repeat-y;
    animation: wave-animation-vertical 60s linear infinite;
}

.wave-left {
    left: 0;
}

.wave-right {
    right: 0;
}

@keyframes wave-animation-vertical {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50%);
    }
}
.search, .hero {
    margin: 0;
    padding: 20px;
    width: 100%;
}

.buton-hero {
    background-color: #1B1D2A;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.buton-hero:hover {
    background-color: #ff6b6b;
}
/*блоки с едой*/
.food-menu {
    text-align: center;
    padding: 20px;
}

.food-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.food-card {
    background: rgba(0, 0, 0, 0.5);
    color: #1B1D2A;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    color: whitesmoke;
}
.button-add {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}
/*блоки с напитками*/
.drinks-menu {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.drinks-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.drink-card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.drink-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.drink-card:hover {
    transform: scale(1.05);
}

.button-add-drink {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.button-add-drink:hover {
    background: rgba(255, 255, 255, 0.5);
}

/*дополнительно*/
.topic-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.topic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.topic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.topic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.topic:hover {
    box-shadow: 0 0 10px #ff98a8, 0 0 20px #ff8294, 0 0 30px #ff98a8, 0 0 40px #f992a1;
    transform: scale(1.1); /* Немного увеличиваем размер при наведении */
}

.topic:active {
    transform: scale(1);
}

.button-cir:hover {
    background-color: #1c1c1c;
}
/**/
.food-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.food-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.buton-add {
    background-color: #2e2e2e;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buton-add:hover {
    background-color: #1c1c1c;
}

/*футер*/
    .footer {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 11;
        height: 20px;
        margin-top: auto;
        text-align: center;
    }

form {
    max-width: 400px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #ff6b6b;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #ff4c4c;
}

.cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff6b6b;
    cursor: pointer;
    position: relative; /* Для позиционирования выпадающей корзины */
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cart-korzina {
    border-radius: 50%;
}
.cart-button img {
    width: 30px;
    height: 30px;
}

.cart-container {
    position: absolute; /* Корзина внутри nav */
    top: 60px; /* Располагается ниже корзины */
    right: 0;
    width: 300px;
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; /* Скрыта по умолчанию */
}

.cart-header {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-total {
    text-align: center;
    font-size: 16px;
    color: #bbb;
    margin-top: 15px;
}
.order-confirmation {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
}

.button-group {
    display: flex;
    gap: 5px;
}

.cart-controls button {
    padding: 5px 10px;
    background-color: #ff6b6b;
    color: #2b2b2b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-controls button:hover {
    background-color: #e55a5a;
}
.cart-button:hover + .cart-container {
    display: block;
}
/* Стиль для информационных блоков */
/* Общий контейнер для центрирования контента */
.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    background: linear-gradient(to left, #f8d0d6, #f7a7b3);

}
.white-stripe {
    display: flex;
    justify-self: center;
    width: 70%;  /* Ширина полосы */
    height: 2px;  /* Высота полосы */
    background-color: #8B4513;  /* Цвет полосы */
    border: 2px solid #8B4513;  /* Опционально: граница вокруг полосы */
    z-index: 10;
    border-radius: 50px;
}

/* Стиль для информационных блоков */
.info-block {
    background: linear-gradient(to top, #D89CA4, #EAC1C1);
    color: black; /* Светлый текст */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    width: 80%; /* Ширина блока, чтобы не растягивался на всю ширину */
    max-width: 800px; /* Максимальная ширина для большого экрана */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: flex-start;
}

.info-block:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.info-block h3 {
    font-family: 'Playfair Display', serif; /* Элегантный шрифт */
    font-size: 20px; /* Размер текста */
    font-weight: 700; /* Жирный стиль шрифта */
    color: #2c3e50; /* Тёмный цвет текста */
    text-align: center; /* Выравнивание по центру */
    padding: 20px 40px; /* Отступы */
    background-color: #ecf0f1; /* Светлый фон */
    border-radius: 20px; /* Скругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для объема */
    letter-spacing: 2px; /* Межбуквенный интервал */
    text-transform: uppercase; /* Все буквы в верхнем регистре */
    border: 2px solid #bdc3c7; /* Легкая граница */
    width: 300px;

}

.info-block p, .info-block ul {
    font-size: 16px;
    line-height: 1.5;
    color: black; /* Светлый текст */
    font-weight: bolder;
    text-align: center; /* Центрирование текста */
}

.info-block ul {
    list-style-type: none;
    padding-left: 0;
}

.info-block ul li {
    margin-bottom: 10px;
}

.info-block strong {
    color: #fff;
}
/* Стиль для контейнера маскота */
.mascot-container {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.background-image {
    position: absolute;
    width: calc(100px + (150 - 100) * random());
    height: auto;
    opacity: 0.5;
}

/* Стиль для маскота */
.mascot {
    width: 150px;
    transition: transform 0.3s ease, left 0.3s ease;
    cursor: pointer;
}

/* Сообщение для маскота */
.mascot-message {
    font-size: 18px;
    color: #fff;
    margin-top: 15px;
    font-weight: bold;
    color: lightcoral;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Действие при наведении на маскота */
.mascot:hover {
    transform: scale(1.1); /* Увеличение при наведении */
    transition: transform 0.3s ease;
}

/* Анимация для перемещения маскота */
.mascot-moving {
    left: 90%;
}
.search {
    text-align: center; 
    z-index: 3;
    background-size: 200% 200%;
    background-position: center;
    margin: 0;
    padding: 0;
}
.naydite h2 {
    font-family: 'Playfair Display', serif; /* Элегантный шрифт */
    font-size: 20px; /* Размер текста */
    font-weight: 700; /* Жирный стиль шрифта */
    color: #2c3e50; /* Тёмный цвет текста */
    text-align: center; /* Выравнивание по центру */
    padding: 20px 40px; /* Отступы */
    background-color: #ecf0f1; /* Светлый фон */
    border-radius: 20px; /* Скругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для объема */
    letter-spacing: 2px; /* Межбуквенный интервал */
    text-transform: uppercase; /* Все буквы в верхнем регистре */
    border: 2px solid #bdc3c7; /* Легкая граница */
    width: 400px;
    position: relative;
    left: 545px;
}


#searchInput {
    padding: 10px;
    width: 60%;
    margin: 20px 0;
    border: 3px solid rgb(73, 34, 34);
    border-radius: 10px;

}
#restaurantButtons {
    background-color: linear-gradient(to left, #f8d0d6, #f7a7b3);
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.restaurant-button {
    text-decoration: none;
    color: darkslategrey;
    background: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}
.restaurant-button:hover {
    background: whitesmoke;
}
/* слайдер */
.reviews-slider {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
/*отзывы */
.slider {
    position: relative;
    overflow: hidden;
}

.slide {
    display: none;
    font-size: 18px;
    padding: 20px;
    background: linear-gradient(to top, #D89CA4, #EAC1C1);
    border-radius: 10px;
    margin: 10px 0;
}

.active {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}
/* Ускоренная анимация появления */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*начальная картинка*/
.privetstviye {
    font-size: 40px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 400px;
    height: 500px;
    z-index: 999;
    left: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: bolder;
    bottom: 60px;
    opacity: 0;
    animation: fadeInUp 0.7s ease-out forwards;
}

.privetstviye h1,
.privetstviye h2 {
    opacity: 0;
    animation: fadeInUp 0.7s ease-out forwards;
    animation-delay: 0.2s;
}

.privetstviye h1 {
    font-size: 50px;
    z-index: 11;
}

.privetstviye h2 {
    font-size: 30px;
    z-index: 11;
}

/* Анимация стрелки */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.arrow-button {
    position: relative;
    bottom: 25px;
    font-size: 100px;
    background: none;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    z-index: 11;
    opacity: 0;
    animation: fadeInUp 0.7s ease-out forwards, bounce 1s infinite ease-in-out;
    animation-delay: 0.4s;
}

/* Кнопка "Начать заказ" */
@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.custom-button {
    position: absolute;
    top: 35%;
    left: calc(40% + 300px);
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    font-size: 24px;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 50px 20px 50px 20px;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-weight: bold;
    width: 350px;
    height: 250px;
    text-decoration: none;
    font-weight: bolder;
    opacity: 0;
    animation: scaleIn 0.7s ease-out forwards;
    animation-delay: 0.6s;
}

.custom-button a {
    text-decoration: none;
    color: white;
}

/* Эффект при наведении (без изменения позиции) */
.custom-button:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* Фон */
.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('photos/анимехи.jpg');
    background-size: cover;
    background-position: center;
}

/* Полупрозрачный темный слой */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Контент на фоне */
.privet {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding-top: 100px;
}
.unique-custom-background {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #f8d0d6, #f7a7b3);
    padding: 50px 20px;
}

.wave {
    position: absolute;
    width: 300%;
    height: 100px;
    bottom: 0;
    left: 0;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1200 100" xmlns="http://www.w3.org/2000/svg"><path d="M0,40 C150,90 350,-20 600,40 C850,100 1050,-10 1200,40 L1200,100 L0,100 Z" fill="%23ffcc80"/></svg>') repeat-x;
    animation: wave-animation 15s linear infinite;
}

.wave2 {
    position: absolute;
    width: 300%;
    height: 100px;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1200 100" xmlns="http://www.w3.org/2000/svg"><path d="M0,60 C150,10 350,120 600,60 C850,0 1050,110 1200,60 L1200,100 L0,100 Z" fill="%23ff9800"/></svg>') repeat-x;
    animation: wave-animation 6s linear infinite;
}
.wave3 {
    position: absolute;
    width: 300%;
    height: 100px;
    left: 0;
    top: 0;
    background-size: cover;
    transform: scaleY(-1); 
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1200 100" xmlns="http://www.w3.org/2000/svg"><path d="M0,60 C150,10 350,120 600,60 C850,0 1050,110 1200,60 L1200,0 L0,0 Z" fill="%23ffcc80"/></svg>') repeat-x;
    animation: wave-animation 15s linear infinite;
}

.wave4 {
    position: absolute;
    width: 300%;
    height: 100px;
    left: 0;
    top: 0;
    background-size: cover;
    transform: scaleY(-1);  
    opacity: 0.5;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1200 100" xmlns="http://www.w3.org/2000/svg"><path d="M0,40 C150,90 350,-20 600,40 C850,100 1050,-10 1200,40 L1200,0 L0,0 Z" fill="%23ff9800"/></svg>') repeat-x;
    animation: wave-animation 6s linear infinite;
}

@keyframes wave-animation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
.unique-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Белый полупрозрачный слой */
}

.unique-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.unique-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    text-decoration: none;
}

.unique-button-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный серый фон */
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unique-button {
    background-color: rgb(255, 255, 255,0.5);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.unique-button:hover {
    background-color: rgb(255, 255, 255);
}

.unique-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.nazva-doljnosti {
    text-decoration: none;
    color: whitesmoke;
}
.review-box {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 1000px;
    max-width: 90%;
    position: relative;
    left: 260px;
}



.review-box h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    
}

.review-box input, .review-box textarea, .review-box button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
}

.review-box input[type="text"], .review-box input[type="file"] {
    background-color: #fafafa;
    border: 1px solid #ddd;
}

.review-box textarea {
    height: 150px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    resize: none;
}

.review-box input[type="file"] {
    padding: 5px;
}

.review-box input[type="text"]:focus, .review-box textarea:focus {
    border-color: #f4a988;
    outline: none;
}

.review-box button {
    background-color: #f4a988;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.review-box button:hover {
    background-color: #d88c6b;
}

.file-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.file-label:hover {
    background-color: #f4a988;
    color: white;
}

.file-label input {
    display: none;
}

.file-name {
    margin-left: 10px;
    color: #888;
}